* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: hsla(97, 56%, 42%, 1);
    background: linear-gradient(90deg, hsla(97, 56%, 42%, 1) 0%, hsla(92, 55%, 62%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(97, 56%, 42%, 1) 0%, hsla(92, 55%, 62%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(97, 56%, 42%, 1) 0%, hsla(92, 55%, 62%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#5DA92F", endColorstr="#9BD46A", GradientType=1);
    font-family: cursive, Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px 0px 30px 0px;
}

.overlay {

    background-color: rgba(0, 0, 0, 0.363);
    filter: blur(5px);
    height: 100vh;
    position: absolute;
    border: 10px solid red;
    top: 0px;
    z-index: 5;
    width: 100%;
}

.flex {
    display: flex;
}

nav {
    justify-content: space-around;
}

button {
    margin-top: 40px;
    padding: 20px;
    width: 180px;
    border-radius: 20px;
    font-size: 1.2rem;
    border: none;
    font-weight: lighter;
    font-family: cursive, Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(224, 221, 221);
}

.fa-xmark {
    font-size: 30px;
    margin-left: 95%;
    cursor: pointer;
}

.fa-xmark:hover {
    color: red;
}

.modal {
    width: 70%;
    height: auto;
    min-height: 70vh;
    background-color: white;
    border-radius: 10px;
    filter: blur(none);
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background-color: whitesmoke;
    display: none;
    z-index: 10;
    position: absolute;
    top: 150px;
    left: 15%;

}

p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
}